$body-color: #ffffff !default;
$primary: #ffc141 !default;
$secondary: #002b5b !default;
$btn-border-width: 2px;
$input-color: #111111 !default;
$input-placeholder-color: #888888;

@import "../../node_modules/bootstrap/scss/bootstrap";

html {
  height: -webkit-fill-available;
  font-size: 16px;
  width: 100%;
  font-family: var(--font-montserrat);
}
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  display: flex;
}
#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}
#main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --teal: #00b2a9;
  --orange: #ff5e5b;
  --navy: #002b5b;
  --navymid: #005177;
  --white: #dcdcdc;
  --yellow: #ffc141;
}
.btn-primary {
  --bs-btn-color: #005177;
  --bs-btn-border-color: #ffffff;
  text-transform: uppercase;
}

#main-container {
  background: linear-gradient(var(--teal), var(--navymid)) no-repeat;
  flex-shrink: 1;
  min-width: 365px;
}
#content {
  background: rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.navbar {
  background-color: #2aaea8;
  font-size: 1.5rem;
  .navbar-brand {
    font-size: 2rem;
    img {
      height: 4rem;
      margin-right: 1rem;
    }
  }
  .nav-link {
    color: white;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-antonio);
  text-transform: uppercase;
}

h1 {
  text-shadow: 0.05em 0.05em var(--orange);
  font-size: 7rem;
  color: var(--navy);
}

h2 {
  text-shadow: 0.05em 0.05em var(--navy);
  font-size: 4rem;
  color: var(--white);
}

h3 {
  text-shadow: 0.05em 0.05em var(--orange);
  font-size: 2rem;
  color: var(--white);
}

p {
  color: var(--white);
  font-size: 1.3em;
}

hr {
  border-top: dashed var(--orange);
  opacity: 1;
}

.box-borders {
  position: relative;
  .box-tl {
    border-top: dashed var(--orange);
    border-left: dashed var(--orange);
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 0;
    left: -3rem;
  }
  .box-tr {
    border-top: dashed var(--orange);
    border-right: dashed var(--orange);
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 0;
    right: -3rem;
  }
  .box-bl {
    border-bottom: dashed var(--orange);
    border-left: dashed var(--orange);
    height: 7rem;
    width: 7rem;
    position: absolute;
    bottom: 0;
    left: -3rem;
  }
  .box-br {
    border-bottom: dashed var(--orange);
    border-right: dashed var(--orange);
    height: 7rem;
    width: 7rem;
    position: absolute;
    bottom: 0;
    right: -3rem;
  }
}
@include media-breakpoint-up(lg) {
  .box-borders {
    .step-2,
    .step-3 {
      position: relative;
      &:before {
        content: "";
        display: block;
        position: absolute;
        height: 75%;
        border-left: dashed var(--orange);
        left: 0;
        top: 12.5%;
      }
    }
  }
}

#footer {
  background-color: white;
  color: black;
  .nav-link {
    color: black;
  }
}

.ballot {
  background-color: #f2f2f2f2;
}

.list-ballot {
  color: #010101;
  padding-left: 0;
  list-style: none;
  h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  > li + li {
    margin-top: 1rem;
  }
  ul {
    padding-left: 1rem;
    list-style: none;
    border-left: solid 1px #010101;
    h4 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    li + li {
      margin-top: 1rem;
    }
    ul {
      padding-left: 1rem;
      li + li {
        margin-top: 1rem;
      }
    }
  }
  ul.candidates {
    padding: 0;
    margin: 0;
    border-left: none;
  }
  .candidate {
    &.party-d {
      background-color: #1b5080;
    }
    &.party-r {
      background-color: #c23046;
    }
    &.party-g {
      background-color: #2e9463;
    }
    &.party-i {
      background-color: #ffc142;
    }
    &.party-i {
      background-color: #aba6a6;
    }

    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    .form-check {
      min-height: 2rem;
      padding-left: 2rem;
      margin-bottom: 0.25rem;
    }
    .form-check-input {
      width: 2rem;
      height: 2rem;
      margin-left: -2rem;
    }
    .form-check-label {
      margin-left: 1rem;
      font-size: 1.5rem;
    }
  }
}
