$body-color: #ffffff !default;

$primary: #ffc141 !default;
$btn-border-width: 2px;

// $secondary: #e30097 !default;

@import "../../node_modules/bootstrap/scss/bootstrap";

html {
  height: -webkit-fill-available;
  font-size: 16px;
  width: 100%;
  font-family: var(--font-montserrat);
}
body {
  min-height: 100vh;
  /* mobile viewport bug fix */
  min-height: -webkit-fill-available;
  display: flex;
}
#__next {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}
#main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

:root {
  --teal: #00b2a9;
  --orange: #ff5e5b;
  --navy: #002b5b;
  --navymid: #005177;
  --white: #dcdcdc;
  --yellow: #ffc141;
}
.btn-primary {
  --bs-btn-color: #005177;
  --bs-btn-border-color: #ffffff;
  text-transform: uppercase;
}

#main-container {
  background: linear-gradient(var(--teal), var(--navymid)) no-repeat;
  flex-shrink: 1;
}
#content {
  background: rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.navbar {
  background-color: #2aaea8;
  font-size: 1.5rem;
  .navbar-brand {
    font-size: 2rem;
    img {
      height: 4rem;
      margin-right: 1rem;
    }
  }
  .nav-link {
    color: white;
    text-transform: uppercase;
    &:hover {
      text-decoration: underline;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-antonio);
  text-transform: uppercase;
}

h1 {
  text-shadow: 0.05em 0.05em var(--orange);
  font-size: 7rem;
  color: var(--navy);
}

h2 {
  text-shadow: 0.05em 0.05em var(--navy);
  font-size: 4rem;
  color: var(--white);
}

h3 {
  text-shadow: 0.05em 0.05em var(--orange);
  font-size: 2rem;
  color: var(--white);
}

p {
  color: var(--white);
  font-size: 1.3em;
}

hr {
  border-top: dashed var(--orange);
  opacity: 1;
}

.box-borders {
  position: relative;
  .box-tl {
    border-top: dashed var(--orange);
    border-left: dashed var(--orange);
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 0;
    left: 0;
  }
  .box-tr {
    border-top: dashed var(--orange);
    border-right: dashed var(--orange);
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  .box-bl {
    border-bottom: dashed var(--orange);
    border-left: dashed var(--orange);
    height: 7rem;
    width: 7rem;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .box-br {
    border-bottom: dashed var(--orange);
    border-right: dashed var(--orange);
    height: 7rem;
    width: 7rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.three-stock-photos {
  display: grid;
  grid-template-columns: 30% 40% 30%;

  img {
    width: 100%;
  }

  * {
    margin: 1em;
    padding: 1em;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .stock-l {
    position: relative;
    left: -5%;
  }

  .stock-r {
    position: relative;
    right: -5%;
  }
}

.how-it-works {
  display: grid;
  grid-template-columns: 40% auto;
  align-items: end;
  h1 {
    padding-right: 1rem;
  }
  img {
    width: 100%;
  }
}
